body, html {
    height: 100%;
    margin: 0;
    overflow:scroll;
    font-family: Times;
}
.row{
    padding: 32px;
}
.title{
    text-align: center;
}
p{
    font-size: 32px;
}
td{
    width: 20px;
}